body {
    background-color: grey;
}
#create {
    display: block;
}
.newCards {
    height: 200px; 
    width: 30%;
    margin: .5em;
    border: 2px double;
    display: inline-block;
    background-color: teal;
    color: whitesmoke;
}
button {
    text-align:center;
    margin: 2em 2em;
}